@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        overflow-y: scroll;
    }

    /* Apply the font to all headers */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    button,
    nav > a {
        @apply font-secondary;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: theme('colors.dark.lighter');
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: theme('colors.dark.border');
        border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: theme('colors.dark.border');
    }
}

@layer utilities {
    .clip-hex {
        clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    }

    .clip-1-corner {
        clip-path: polygon(0 10px, 10px 0, 100% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    .shine-effect {
        &::after {
            background: #fff;
            content: '';
            height: 155px;
            left: -75px;
            opacity: 0.2;
            position: absolute;
            top: -50px;
            transform: rotate(35deg);
            transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
            width: 50px;
        }

        &:hover::after {
            left: 120%;
            transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
        }
    }

    .section-split-effect {
        margin-left: 6px;

        &::after {
            content: '';
            height: 42px;
            width: 6px;
            display: block;
            position: absolute;
            right: calc(100% - 1px);
            top: -1px;
            background-color: inherit;
            transition: all 0.2s ease-in-out;
            border: inherit;
            border-right: 0;
        }

        &:hover::after {
            right: calc(100% + 6px);
            border-right: inherit;
        }
    }

    .filter-chemical {
        filter: invert(23%) sepia(41%) saturate(5391%) hue-rotate(67deg) brightness(80%)
            contrast(90%);
    }

    .filter-electric {
        filter: invert(32%) sepia(85%) saturate(5240%) hue-rotate(200deg) brightness(100%)
            contrast(100%);
    }

    .filter-thermal {
        filter: invert(48%) sepia(9%) saturate(7214%) hue-rotate(340deg) brightness(100%)
            contrast(93%);
    }

    .filter-antimatter {
        filter: invert(45%) sepia(96%) saturate(6155%) hue-rotate(258deg) brightness(100%)
            contrast(91%);
    }
}
